@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./variables.scss";
@import "breakpoints.scss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif !important;
  color: #ffff;
}

.container {
  width: 90%;
  margin: 0 auto;

  @include media(">=tablet") {
    width: 80%;
  }
  @include media(">=desktop") {
    width: 960px;
  }
}

.section {
  padding: 50px 0;
}

h1,
.h1 {
  font-size: 36px;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 26px;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 24px;
  font-weight: 400;
}

h4,
.h4 {
  font-size: 18px;
  font-weight: 700;
}

p,
.p {
  font-size: 18px;
  font-weight: 400;
}

.pSmall {
  font-size: 16px;
  font-weight: 400;
}
